.animeCard {
  width: 250px;
  height: 300px;
  margin: auto;
  margin-top: 6px;
  margin-bottom: 6px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.animeCardImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.2s cubic-bezier(0, 0, 0, 1.8);
  filter: brightness(75%);
}
.animeCard:hover > .animeCardImg {
  transform: scale(1.1);
}
